<ion-view view-title="Ubicaciones">
   <ion-content>
      <div class="list card">
         <a href="#" class="item item-icon-left item-icon-right" ng-repeat="location in vm.locations"
            ng-click="vm.saveCurrentLocation(location)">
            <i class="icon ion-home"></i>
            <h2>{{location.location.value}}</h2>
            <p>Cupos: {{location.sits}}</p>
            <p>Estado: {{vm.getStatusLabel(location.status)}}</p>
            <i class="icon ion-checkmark-circled" ng-if="vm.checkSelectedLocation(location)"></i>
         </a>
      </div>
   </ion-content>
</ion-view>
