<ion-view view-title="Asistencia">
   <ion-content>
      <h3 style="text-align: center">Asistencia para {{vm.session.sessionData.name}}</h3>
      <ion-list>
         <ion-item class="item-toggle" ng-repeat="participant in vm.participants">
            <div style="z-index: 1000; pointer-events: all !important;" on-double-tap="vm.openModal(participant)"
                 ng-click="vm.openPopover(participant)">
               {{$index + 1}}. {{participant.id.name}} {{participant.id.lastname}}
            </div>
            <label class="toggle toggle-assertive">
               <input type="checkbox" ng-model="vm.model[participant._id]">
               <div class="track">
                  <div class="handle"></div>
               </div>
            </label>
         </ion-item>
      </ion-list>
      <button class="button button-block button-positive">
         Guardar asistencia
      </button>
   </ion-content>
</ion-view>
