img.landing-logo {
  width: 50%;
  height: auto;
  margin-left: 25%;
  margin-top: 25%;
   max-width:300px;
}

@media screen and (min-width: 700px)  {
   img.landing-logo {
      margin-left: 37% !important;
      margin-top: 15%;
   }
}

.panel-has-header{
   top: 64px !important;
}

.pull-right-container{
   float: right !important;
   left: 5% !important;
   position: relative;
}

.input-label {
   white-space: normal !important;
   max-width: none !important;
   width: 100%;
}
