img.landing-logo {
  width: 50%;
  height: auto;
  margin-left: 25%;
  margin-top: 25%;
}

.panel-has-header{
   top: 64px !important;
}

.pull-right-container{
   float: right !important;
   left: 5% !important;
   position: relative;
}
